<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- ICONS -->
    <link rel="icon" href="{{ path_to_root }}favicon.svg">
    <link rel="shortcut icon" href="{{ path_to_root }}favicon.png">

    <!-- Base CSS -->
    <link rel="stylesheet" href="{{ path_to_root }}css/variables.css">
    <link rel="stylesheet" href="{{ path_to_root }}css/general.css">
    <link rel="stylesheet" href="{{ path_to_root }}css/chrome.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="{{ path_to_root }}FontAwesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{ path_to_root }}fonts/fonts.css">

    <!-- Highlight.js themes -->
    <link rel="stylesheet" href="{{ path_to_root }}highlight.css">
    <link rel="stylesheet" href="{{ path_to_root }}tomorrow-night.css">
    <link rel="stylesheet" href="{{ path_to_root }}ayu-highlight.css">

</head>